{% extends "layout.html" %}

{% block title %}Ders Listesi{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Ders Seçim Sistemi</h1>
    <h6>Hoş geldiniz, {{ session['ogrenci_isim'] }} {{ session['ogrenci_soyisim'] }}!</h6>

    <!-- Dersler Tablosu -->
    <table id="derslerTablosu" class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Ders Kodu</th>
                <th>Ders Adı</th>
                <th>Akademisyen</th>
                <th>Gün-Saat</th>
                <th>Grup Adı</th> 
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            <!-- İçerik JavaScript ile doldurulacak -->
        </tbody>
    </table>

    <!-- Ders Ekle Butonu -->
    <button id="addDersBtn" class="btn btn-primary ">Ders Ekle</button>

    <!-- Ders Ekle Modalı -->
    <div id="dersModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Modal Başlığı -->
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Ders Seç</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal Gövdesi -->
                <div class="modal-body">
                    <form id="dersForm">
                        <div class="form-grup">
                            <label for="alinabilenDersler">Ders Seçin</label>
                            <select class="form-control" id="alinabilenDersler">
                                <!-- Dersler JavaScript ile yüklenecek -->
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Dersi Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
